@use '../../App';

.Loading {
    position: absolute;
    right: 1%;
    top: 2%;
    transition: all 0.3s ease-in-out;
    width: 0;
    box-sizing: border-box;
    background: App.$primary;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    div {
        padding: 0.7rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        width: 100%;
        .icon {
            animation: loading 1s linear infinite;
            font-size: 1.2rem;
            color: #fff;
        }
    }
}

.ShowLoading {
    transition: all 1s ease-in-out;
    width: 90%;
    border-radius: 0.3rem;
    
    @media (min-width: 300px) {
        width: 70%;
    }
    @media (min-width: 600px) {
        width: 50%;
    }
    @media (min-width: 768px) {
        width: 40%;
    }
    @media (min-width: 900px) {
        width: 30%;
    }
}

@keyframes loading{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}